# Ignore __pycache__
**__pycache__**

# Ignore images files
data/stage_2_train_images/*.dcm
data/stage_2_test_images/*.dcm

# Ignore model files
models
src/mrcnn/*.h5

# Ignore temp files
.*
!/.gitignore